.column {
  min-height: 10vh;
  display: flex;
  color: darkorchid;
}
.antBtn:hover {
  background-color: beige;
  color: rgb(173, 108, 234);
  color: #facbda;
}

.contentt {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tagline {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 20%);
  font-size: 200%;
  font-weight: bold;
}
.firstline {
  display: inline;
}
.departments{
  display: flex;
  padding: 10px;
}

.departments .card{
  margin-left: 15px;
  width: 220px;
}

.info .info-heading{
  padding: 20px;
  text-align: center;
}

.info .info-heading h3{
  color:#390193;
}

/* @keyframes myimage {
  from {
    width: 500px;
    height: 500px;
  }
  to {

    width: 550px;
    height: 550px;

  }
} */
