.illustration{
    display: flex;
    justify-content: center;
}
.booking-form{
    background-image: url(../images/appointment.png);
    background-repeat: no-repeat;
    background-position: center;
    
}

.doctor-form{
    background-image: url(../images/doctorReg.webp);
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 600px) {
    .departments {
      flex-direction: column;
      align-items: center;
      
    }
    
  }