.bg{
    
    background-image: url('../images/loginbg.jpg');
    filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-59%);
    z-index: 2;
    /* glassmorphism */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
    
}
.register-form{

    padding: 30px;
    width: 400px;
    /* color: white; */
}
.register-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}