.column {
  display: flex;
  color: darkorchid;
}
.antBtn:hover {
  background-color: beige;
  color: rgb(173, 108, 234);
  color: #facbda;
}

.logo {
  /* border: 2px solid red; */
}
.navigation {
  /* border: 2px solid red; */
}
.button {
  /* border: 2px solid red; */
}

.contentt {
  position: relative;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #facbda;
}

.chatbot {
  background-color: white;
  position: fixed;
  bottom: 10px;
  margin-left: 900px; 
  /* overflow: scroll; */
}

.tagline {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 20%);
  font-size: 200%;
  font-weight: bold;
}
.firstline {
  display: inline;
}
.departments{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100%/4)-12px);
  gap: 2em;
  padding: 1em;
}

.departments .card{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.info .info-heading{
  padding: 20px;
  text-align: center;
}

.info .info-heading h3{
  color:#710193
}

.cardImage{
  padding:1em 1em;
  border-radius: 10px;
}


@media screen and (max-width: 900px){
  .contentt.image{
    display: none;
  }
  .departments{
    grid-auto-columns: calc((100%/2)-12px);
  }
}


/* @keyframes myimage {
  from {
    width: 500px;
    height: 500px;
  }
  to {

    width: 550px;
    height: 550px;

  }
} */
